# TigerGraph Connection
TG_HOST=http://127.0.0.1:14240
TG_GRAPHNAME=FraudGraph
TG_USERNAME=tigergraph
TG_PASSWORD=tigergraph
TG_SECRET=
TG_TOKEN=

# LLM / AI
GEMINI_API_KEY=

# Embeddings
EMBEDDING_MODEL=all-MiniLM-L6-v2

# Server & App Configuration
HOST=0.0.0.0
PORT=8000
ENVIRONMENT=development
